
<div class="container" [ngStyle]="{'background-image': 'url(' + image + ')'}" class="wrapper-div">
  <div class="row">
    <div class="col-md-12">
      <div class="pr-wrap">
        <div class="pass-reset">
          <label>
            Enter the email you signed up with</label>
          <input type="email" placeholder="Email" />
          <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
        </div>
      </div>
      <div class="wrap">
        <p class="form-title">
          Sign In</p>
        <form class="login">

          <input type="text" placeholder="Username" [(ngModel)]="username" name="username"/>
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password"/>
          <input (click)="login()" type="submit" value="Sign In" class="btn btn-success btn-sm" />
          <div class="remember-forgot">
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" />
                    Remember Me
                  </label>
                </div>
              </div>
              <div style="margin-top: 0px!important;" class="col-md-6 forgot-pass-content">
                <a href="javascript:void(0)" class="forgot-pass">Forgot Password</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
